<!doctype html>
<html>
    <head>
      <title>Add Face to Database</title>
    </head>
    <body>
      <h1>Add Face to Database</h1>
      <form method="post" enctype="multipart/form-data">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>
        <label for="image">Select image:</label><br>
        <input type="file" id="image" name="image" accept="image/*" required><br><br>
        <input type="submit" value="Upload">
      </form>
    </body>
  </html>